/* all of the body*/
  body {
    background-color: darkgrey;
  }
  /*heading color*/
  h1 {
    color: darkgoldenrod;
  }
  /* container background color */
  .container {
    background-color: white;
  }
  .center {
    margin:auto;
  }
  form {
    width: 500px; margin: auto;
  }
  .send-image img { height: 100%; width: 50%; display:block;}
